@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

/* Font style */
.inter-font {
  font-family: "Inter";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared styles */
body{
  background-color: #f5f8ff;
  margin: 0;
}
.btn-primary{
  background-color: #E95A08;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1rem;
  padding: 26px 50px;
  white-space: nowrap;
  border: none;
  cursor: pointer;
}
.display-flex{
  display: flex;
}
.menu-color{
  color:#8987A1 ;
}
/* title color */
.primary-color{
  color: #E95A08;
}
/* description color */
.secondary-color{
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.4rem;
}
/* header styles */

/* navbar related styles */
.navbar{
  max-width: 1140px;
  margin: 0 auto;
}
.nav-logo img{
  width:100%;
}
.navbar, .menu-items,.banner{
  align-items: center;
  justify-content: space-between;
}
.menu-items{
  list-style: none;
  gap: 48px ;
  padding: 0;
}
.menu-home{
  font-weight:bold;
  font-size: 1rem;
  color: #252432;
  width: 415px;
  height: 60px;
}
.menu-cart{
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  white-space: nowrap;
  /* gap: 10px; */
}
.nav-link{
  text-decoration: none;
}
/* banner related style */
.banner{
  max-width: 1140px;
  margin: 120px auto;
  align-items: flex-end;
}                              
.banner-left{
  gap: 13px;
  max-width: 570px;
}
.banner-title{
  font-size: 4rem ;
  margin: 0;
}
.banner-description{
  font-size: 1.4rem;
  margin: 0 auto;
}
.banner-img{
  /* min-height: 60% ; */
}
/* main section */
/* plant releted styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}
.our-plant{
  text-align: center;
  gap: 16px;
}
.plant-title{
  font-size: 3.1rem ;
  margin: 0;
}
.plant-subtitle{
  padding: 0 120px;
}
/* plants cards related styles */
.plants-cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  row-gap: 30px;
  column-gap: 20px;
}
.plant-card{
  display: flex;
  flex-direction: column;
}
.plant-card img{
  height: auto;
  width: 100%;
}
.plant-name{
  font-weight: 500;
  font-size: 1.375rem;
  color: #111111;
  margin: 30px auto 10px;

}
.plant-price{
  font-weight: bold;
  font-size: 1.375rem;
  margin: 10px auto 30px;
}
/* Flower & Plants Lover section */
.plants-lover{
  gap: 60px;
  margin-top: 200px;
}
.plant-lover-left{
position: relative;

}
.plant-lover-right{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.plant-lover-right ul{
  margin: 0;

}
.plant-lover-title{
  font-size: 3.125rem;
  margin: 0;
}
.plant-lover-description{
  font-size: 1.375rem;
  margin: 10px 0;
}
 /* badge related style */
  .badge-img{
    position: absolute;
    top: -110px;
    right: -100px;
    width: 250px;
  }
/* footer */
/* join section */
.join-container{
  background-image: url(./assets/news-letter-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 190px 300px;
  position:relative;
}
.container-name{
  color: #FFFFFF;
  font-size: 3.125rem ;
  margin-bottom: 23px;
}
.input-container{
  padding: 8px 20px;
  font-size: 1rem;
  flex: 1;
  max-width:830px;
  border: none;
  font-weight: 400;
}
.join-input-box{
  justify-content: center;
}

/* footer section related style */
.conteiner{
  max-width: 1140px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 50px 160px;
  justify-content: center;
  margin: 0 auto;
}
.item-cintainer{
  display: flex;
}
.item{
  margin: 10px 0;
}
.item-left, .item-right{
  padding-right: 110px;
}
.foter-logo{
  gap: 16px;
  margin-right: 110px;
}
.footer-description{
  max-width: 350px;
}
.footer-icon img{
  flex-wrap: nowrap;
  margin-top: 20px;
  margin-right: 24px;
  width:36px;
  height: 36px;
}
        
/* media query for mobile device */
@media screen and (max-width: 576px){
  /* nav */
  .r-mobile{
    display: none;
  }
  .nav-logo img{
    min-width:45%;
    max-width:100%;
    margin: 0;
  }
  .navbar{
    margin: 13px 16px 0 16px ;
  }
  .menu-items{
    gap: 0;
  }
  /* banner */
  .banner{
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .banner-right{
    margin: 28px 0 28px 0 ;
  }
  .banner-img{
    width: 100%;
  }
  .banner-left{
    margin: 0 16px 0 16px;
  }
  .banner-title{
    font-size: 1.5rem;
  }
  .banner-description{
    font-size: 0.875rem;
  }
  /* btn */
  .btn-primary{
    padding: 26px 0px;
  }
  /* plants-card-section */
  .our-plant{
    margin-top: 65px ;
  }
  .plant-title{
    font-size: 2.0625rem;
    font-weight: bold;
  }
  .plant-subtitle{
    font-size: 0.875rem;
    font-weight: 400;
    padding: 0 34px;
  }
  .plant-card{
    height: auto;
    width: 100%;
  }
  .plants-cards{
  grid-template-columns: repeat(2,1fr);
  margin: 0 14px;
  }
  /* plants lover section */
  .plants-lover{
    flex-direction: column;
    margin: 35px 15px 130px;
    gap: 0;
  }
  .plant-lover-title{
    font-size: 1.5rem;
  }
  .plant-lover-description{
    font-size: 0.875rem;
  }
  .plant-lover-left img{
    width: 100%;
  }
  .badge-img{
    display: none;
  }
  /* join section related style */
  .join-container{
    padding: 110px 36px 65px;
  }
  .container-name{
    font-size: 1.25rem;
  }
  .input-container{
    width: 100%;
    padding: 8px 12px;
  }
  .sub-btn{
    padding: 15px 10px;
  }
  /* footer */
  .conteiner{
    flex-direction: column;
    padding: 0;
    margin: 50px 15px ;
  }
  .item-cintainer{
    flex-direction: column;
    gap: 20px;
  }

}